<?xml version="1.0" encoding="utf-8" ?> 
<log4net>
  <appender name="General" type="log4net.Appender.FileAppender">
    <file value="mylog.log" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="General" />
  </root>
</log4net>